<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Dev Skills</h1>
  <ul>
    <a href="/skills/new">Add Skill</a>

    <% skills.forEach(skill => { %>
      <li>
        <!-- <a href="/skills/<%= skill._id %>"></a> -->
				<%= skill.Name %> 
				- 
				<%= skill.easy ? 'Very Easy' : 'Not Easy' %>
        - 
        Difficuty is <%= skill.Level %> 
        - 
        Speed is <%= skill.Speed %> 
			</li>
      
    <% }) %>
  </ul>
</body>
</html>